@menu-block-width: 200px;
@page-width: 880px;

html {
	box-sizing: border-box;
}

*, *::after, *::before {
	box-sizing: inherit;
}

body,
html {
	margin: 0;
	height: 100%;
}

.container {
	width: @page-width;
	margin-right: auto;
	margin-left: auto;
}

.layout {
	height: 100%;

	main, header {
		border: 1px black dashed;
	}

	header {
		text-align: center;
		height: 100px;
	}

	main {
		height: 100%;
		overflow: scroll;
	}

	main div {
		display: inline-block;
	}

	main .content {
		float: left;
		max-width: 660px;
		padding-bottom: 200px;
	}

	main .menu {
		float: left;
		width: @menu-block-width;
	}

	footer {
		border-top: 1px solid #eee; 
		bottom: 0px;
		left: 0px;
		margin-bottom: 40px;
		margin-top: 40px;
		padding-top: 40px;
		position: fixed;
		right: 0px;
	}

	@media screen and (max-width: 650px) {
	}
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}
